<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.1.0/angularfire.js"></script>
<script src="app.js"></script>
 
</head>
<body ng-app="rc" ng-controller="DataController">
 
<h1>Main Title</h1>
<p>Size: {{booger.size}}</p>
<p>Texture: {{booger.texture}}</p>
<br><br>
<p>Size: <input type="text" ng-model="booger.size"></p>
<p>Texture: <input type="text" ng-model="booger.texture"></p>
</body>
</html>